.body {
    background-image: url(/assets/img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-position: center center;
}

.break-work {
    word-break: break-all;
}